

nav{
  background-color: #003333;
    border: 2px solid black;
    padding: 5px;
}

footer{
    background-color: #003333;
    color: white;font-family;
    font-size: 12px;
    height:auto;
    font-size: 15px;

}

body{
    font-family: sans-serif;
}

main{
    padding: 10px;
    margin : 10px;
    min-height: 400px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 15px;
}

h1{
    color: #003333;
    font-family: monospace;
    font-weight: bolder;
}
header, nav, main, footer{
    margin:10px;
}

/*
  Adjust the CSS as needed for professional look
*/
