<!DOCTYPE html>
<html>
<head>
    <title>AGS - Login</title>
    <link rel="stylesheet" href = "css/alternative-main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<div class = "container" id = "app1">
    <nav class=" row sticky-top navbar navbar-expand-lg navbar-dark">
      <img src="img/Small Gas Logo.png" alt = "Logo" height="60px"><br />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" id="navLink">

          <li class="nav-item active">
            <a class="nav-link" href="client_info.html">Client Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="site_all.html">Sites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="turbine_info.html">Turbine Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">General Overview</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Help Service
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Email</a>
              <a class="dropdown-item" href="#">Phone</a>
              <a class="dropdown-item" href="#">Drop By</a>
            </div>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="login.html">Login&nbsp;<i class="fas fa-user"></i></a>
          </li>
        </ul>
      </div>
    </nav>

    <main class= "row">
      <div class="container col-md-12">
    <form @submit.prevent="handleClientForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="clientName">Client Name</label>
      <input type="text" class="form-control" id="clientName" v-model="clientForm.clientName">
    </div>
    <div class="form-group col-md-6">
      <label for="sector">Sector</label>
      <input type="text" class="form-control" id="sector" v-model="clientForm.gicsSector">
    </div>
  </div>
  <div class="form-group">
    <label for="industry">Industry</label>
    <input type="text" class="form-control" id="industry" v-model="clientForm.gicsSubIndustry">
  </div>
  <div class="form-group">
    <label for="hq">Headquarters</label>
    <input type="text" class="form-control" id="hq" v-model="clientForm.headquarters">
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="clientDesc">Description</label>
      <textarea class="form-control" id="clientDesc" rows="3" v-model="clientForm.clientDesc"></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
<button id="submitNewClient" type="submit" class=" btn btn-primary">Save Client Information</button>
</div>
<div class="form-group col-md-3">
  <a class="btn btn-primary" href="client.html">View Client Information</a>
  </div>
</div>
</form>
</div>
    </main>

<footer class = "row">
    <div class="col-xs-12 col-md-6">
        <p>Alternative Green Systems<br>
          877.686.9448<br />
        </p>
    </div>
    <div class="col-xs-12 col-md-6 pull-right">
        <p style="font-size: 12px; ">© 2018 Green Alternative Systems. All rights reserved.<br>
        Follow us on&nbsp;<i class="fab fa-facebook"></i>&nbsp;<i class="fab fa-twitter-square"></i>&nbsp;<i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-snapchat-square"></i></p>
    </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src='js/demo.js'></script>
</body>
</html>
